@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');
:root {
/* ### Primary */

--Desaturated-Red: hsl(0, 36%, 70%);
--Soft-Red: hsl(0, 93%, 68%);

/* ### Neutral */

--Dark-Grayish-Red: hsl(0, 6%, 24%);

/* ### Gradients */

/* --Linear, 135deg, from hsl(0, 0%, 100%), to hsl(0, 100%, 98%);
--Linear, 135deg, from hsl(0, 80%, 86%), to hsl(0, 74%, 74%); */

}
*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
body{
    height:100vh;
    width:100wh;
    display:flex;
    justify-content:center;
    align-items:center;
    min-width:375px;
    font-family: 'Josefin Sans', sans-serif;
    background-color: linear-gradient(135deg, from hsl(0, 0%, 100%), to hsl(0, 100%, 98%)),
    linear-gradient(135deg, from hsl(0, 80%, 86%), to hsl(0, 74%, 74%));
}

.container{
    height:25rem;
    width:50rem;
    display:flex;
    justify-content:space-around;
    align-items:center;
    font-family:'Josefin Sans';
}
.message{
    height:25rem;
    width:30rem;
}
.image > img{
    height:25rem;
    width:20rem;

}
/* implementing gap between logo and "coming soon" */
.gap{
    display:flex;
    flex-direction:column;
    gap:4rem;
}
/* we're coming soon decoration */
.soon{
    font-size: xx-large;
    letter-spacing: 10px;
    text-transform: uppercase;
}
.soon > h1 > span{
    color: var(--Desaturated-Red);
}
.soon > h1 {
    color: var(--Dark-Grayish-Red);
}

/* paragraph desing */

.para{
    color: var(--Desaturated-Red);
    font-size: 13px;
    font-family: 'Josefin Sans';
    margin-top: 35px;
    margin-bottom: 20px;
    font-weight: 600;
    line-height: 1.5;
    width: 24rem;
}